* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: cornsilk;
}
.clock {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.table,
.table-colon {
  width: 9%;
  height: auto;
  margin-top: 1%;
  margin-right: 1%;
  display: inline-block;
}
.table-colon {
  margin-top: 3%;
  width: 5%;
}

.colon {
  margin-left: 30%;
  margin-top: 30%;
}
.colon .circle {
  display: block;
  margin-top: 30%;
}
.card {
  display: block;
  padding: 0%;
}
.circle,
.circle-colon {
  border: 1px solid rgb(206, 245, 188);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  z-index: -10;
  display: inline-block;
}
.circle-colon {
  display: block;
  margin-top: 35px;
}
.circle::after,
.circle-colon::after {
  content: '';
  background: rgb(35, 228, 9);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5%;
  height: 5%;
  z-index: 10;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.needle-big,
.needle-big-colon {
  display: initial;
  background: rgb(63, 32, 32);
  position: absolute;
  height: 50%;
  width: 5%;
  left: 48.5%;
  z-index: 5;
  transform-origin: 50% 100%;
}
.needle-big {
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transition: transform 0.15s linear;
  -webkit-transition: transform 0.15s linear;
  -moz-transition: transform 0.15s linear;
  -ms-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear;
}
.needle-big-colon {
  animation: rotate 1.5s linear infinite;
  -webkit-animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}
.needle-small-colon {
  animation: rotate 2s reverse linear infinite;
  -webkit-animation: rotate 2s reverse linear infinite;
}
/*


@keyframes rotateO {
  0% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
} */

.needle-small,
.needle-small-colon {
  display: initial;
  background: rgb(45, 148, 243);
  position: absolute;
  top: 21%;
  left: 48.6%;
  transform-origin: 49% 100%;
  height: 30%;
  width: 4%;

  z-index: 6;
}
.needle-small {
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transition: transform 0.15s linear;
  -webkit-transition: transform 0.15s linear;
  -moz-transition: transform 0.15s linear;
  -ms-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear;
}

.ampm {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 2px auto;
  font-size: large;
  color: aqua;
}
